p {
    @apply .font-primary .text-sm .text-left .text-base .tracking-wide .leading-loose;
}

.text {
    &-rotate {
        @apply .absolute .font-secondary .leading-normal .text-xs .text-white .uppercase .w-auto .z-10;
        letter-spacing: 4px;
        left: 60px;
        bottom: 40px;
        transform: rotate(-90deg);
        transform-origin: top left;
        opacity: 1;
        visibility: visible;

        @media (min-width: 768px) {
            bottom: 100px;
        }

        &.close {
            left: 24px;
        }

        &.far {
            left: 32px;
            bottom: 32px;

            @media (min-width: 768px) {
                left: 60px;
                bottom: 60px;
            }
        }
    }
}