.video {
    &-player {
        @apply .relative;
    }

    &-thumbnail {
        @apply .absolute .bg-grey-lightest .h-full .overflow-hidden .pin-t .pin-l .w-full .z-20;
        cursor: pointer;
        transition: opacity .3s ease,
                    z-index .3s .3s ease;

        &-media {
            @apply .bg-black .block .h-full .w-full;

            & > img {
                @apply .h-full .w-full;
                object-fit: cover;
            }
        }

        &.playing {
            @apply .z-neg;
            opacity: 0;
        }
    }

    &-button {
        @apply .absolute .align-middle .bg-black .inline-flex .no-underline .p-0 .select-none .text-center .text-white .uppercase .whitespace-no-wrap;
        cursor: pointer;
        outline: 0;
        transform: translateZ(0);
        left: 50%;
        top: 50%;
        transform: translate3d(-50%,-50%,0);

        &:hover {
            .video-icon > svg {
                transform: translateY(0);
            }

            .video-button-text-inner {
                transform: translateY(-100%);
            }
        }

        &.large {
            @apply .p-0 .text-center;
            line-height: 120px;
            min-width: 120px;
            min-height: 120px;
        }

        &-text {
            @apply .absolute .font-secondary .inline-block .leading-none .overflow-hidden .text-sm .tracking-wide;
            height: 32px;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%,-50%,0);

            &-inner {
                @apply .inline-block;
                height: 32px;
                line-height: 32px;
                will-change: transform;
                backface-visibility: hidden;
                transform: translateY(0);
                transition: transform .3s ease;
            }
        }
    }



    &-icon {
        @apply .absolute .block .overflow-hidden .text-white;
        width: 24px;
        height: 32px;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%,-50%,0);

        & > svg {
            @apply .block .fill-current .h-full .relative .stroke-current .w-full;
            will-change: transform;
            backface-visibility: hidden;
            transform: translateY(100%);
            transition: transform .3s ease;
        }
    }
}

.dada-player {
    @apply .z-10;
}